<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <title>Spring CRUD</title>
</head>
<body>
<div class="table-content">
    <table class="table table-borded table-responsive table-striped" id="table-editable">
        <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>UserName</th>
            <th>Roles</th>
            <th>Password</th>
            <th>IsActive</th>
        </tr>
        </thead>
        <tr th:each="user : ${usersList}">
            <td data-field="id" name="id" th:text="${user.getId()}">ID</td>
            <td data-field="username" name="uname" th:text="${user.getUsername()}">UserName</td>
            <td data-field="roles" name="roles" th:text="${user.getRoles()}">Roles</td>
            <td data-field="password" name="password" th:text="${user.getPassword()}">password</td>
        </tr>
    </table>
    <b>Add New Members</b>
    <table class="table table-borded table-responsive table-striped">
        <thead class="table-dark">
        <tr>
            <th>Username</th>
            <th>Roles</th>
            <th>Password</th>
            <th colspan="2">Action</th>
        </tr>
        </thead>
        <tr>
            <form th:method="POST" th:action="@{/adduser}" th:object="${user}">
                <td data-field="username"><input type="text" th:field="*{username}" id="username" value=""/></td>
                <td data-field="roles"><input type="text" th:field="*{roles}" id="roles" value=""/></td>
                <td data-field="password"><input type="text" th:field="*{password}" id="password" value=""/></td>
                <td data-field="addBtn"><input type="submit" value="Add"/></td>
                <td data-field="clnBtn"><input type="reset" value="Clean"/></td>
            </form>
        </tr>
    </table>
</div>

<script src="/static/js/editable.js"></script>
<script>
    $("#table-editable").setEditable({
        columnsEd: "1,2,3",
        beforeDelete: function (row) {
            $.get("/deluser", {
                id: $(row).children("td:nth-child(1)").text()
            })
        },
        afterEdit: function (row) {
            var id = $(row).children('td[name="id"]').text();
            var uname = $(row).children('td[name="uname"]').text();
            var roles = $(row).children('td[name="roles"]').text();
            var password = $(row).children('td[name="password"]').text();
            $.post("/edituser", {
                id: id,
                username: uname,
                roles: roles,
                password: password
            })
        }
    });
</script>
</body>
</html>